body{
	line-height: 1.5;
	margin:0;
	font-family: 'Mitr', sans-serif;
	background-color: #343a41;
	min-height: 100vh;
    width: auto;
}

*{
	list-style: none;
    outline: none;
	font-family: 'Mitr', sans-serif;
	margin:0;
	padding:0;
	box-sizing: border-box;
	text-decoration: none;
}
body, html{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

.container{
	max-width: 2000px;
	color: rgb(255, 255, 255);
	height:auto;
	margin:0px auto;
	padding:0px;
}
.containerfooter{
	max-width: 70%;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
h1{
	font-size:30px;
	margin:0;
}
.clear{
	clear: both;
}


.banner{
margin:0;
padding: 0rem;

}

nav{
 float:left;
 color: #fff;
 background-color: #343a41;
 text-align: center;
 width: 100%;
 padding:0px ;
 margin-bottom:0px;
}

.nav-links{
    flex: 1;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-flex;
    padding: 20px 15px;
    position: relative;
}
.nav-links ul li a{
    color: rgb(255, 255, 255);
    font-size: 22.5px;
}


.section1{
 float:left;
 width: 100%;
 text-align: center;
 padding:0px 50px;
 margin-bottom:15px;
 
}

button {
    padding: 15px 50px;
	color: rgb(255, 255, 255);
    font-size: 1.6rem;
    cursor: pointer;
    border: 0px;
    background: transparent;
    position: relative;
    margin: 10px;
    transition: all .25s ease;
}

.btn-3:hover::after {
    width: 100%;
}

.btn-3::after {
    content: '';
    position: absolute;
    border-radius: inherit;
    width: 10%;
    height: 5px;
    background: #e91e63;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    transition: all .25s ease;
    left: 50%;
    transform: translate(-50%);
	
}

.section2{
 float:left;
 width: 100%;
 color: rgb(0, 0, 0);
 background-color:#ffffff; 
 text-align: center;
 padding:50px 10px;
 margin-bottom:20px;
}
.section2-if{
	transition: 0.5s;
	border-radius: 20px;
}
.section2-if:hover
{
	transform: translateY(-50px);
}

.section2 .content{
float: left;
width: 100%;
margin-top:100px;
padding: 0px 60px;
}



.section2 .content .left{
	padding: 50px 10px;

}

.section2 .content .right .card1{
	padding:60px 100px;
	font-size:30px;
	color:#fff;
	background: linear-gradient(225deg, #d14873 30%, #FCCE42 100%);
	margin-bottom:20px;
	transition: 0.5s;
	border-radius: 20px;
}
.section2 .content .right .card1:hover
{
	transform: translate(-50px);
}

.section2 .content .right .card2{
	padding:60px 5px;
	font-size:30px;
	color:#fff;
	background: linear-gradient(225deg, #0CCDA3 30%, #C1FCD3 100%);
	margin-bottom:20px;
	transition: 0.5s;
	border-radius: 20px;
}
.section2 .content .right .card2:hover
{
	transform: translate(-50px);
}

.section2 .content .right .card3{
	padding:60px 5px;
	font-size:30px;
	color:#fff;
	background: linear-gradient(225deg, #17ffc6 30%, #589eee 100%);
	margin-bottom:20px;
	transition: 0.5s;
	border-radius: 20px;
}
.section2 .content .right .card3:hover
{
	transform: translate(-50px);
}
.section3{
	float:left;
	width: 100%;
	color: rgb(0, 0, 0);
	background-color:#ffffff; 
	padding:50px 10px;
	margin-bottom:20px;
   }

   .swiper-container {
	width: 100%;
	height: 500px;
	transition: opacity .6s ease;
  }
  .swiper-container.swiper-container-coverflow {
	padding-top: 2%;
  }
  .swiper-slide {
	background-size: cover;
	height: 42vh !important;
	box-shadow: 1px 3px 3px rgba(0,0,0,0.2);
  }
  .swiper-slide .content {
	position: absolute;
	top: 40%;
	left: 0;
	width: 40%;
	padding-left: 5%;
	color: #fff;
  }
  .swiper-slide .content .title {
	font-size: 2.6em;
	font-weight: bold;
	margin-bottom: 30px;
  }
  .swiper-slide .content .caption {
	display: block;
	font-size: 1px;
	line-height: 1.4;
  }
  
  .slide1 {
	background-image: url("https://www.mangozero.com/wp-content/uploads/2018/03/did-you-konw-about-tcas-admission-cover.jpg");
  }
  .slide2 {
	background-image: url("https://www.hands-on.co.th/wp-content/uploads/2018/02/Student-life-at-Lancaster-University.jpg");
  }
  .slide3 {
	background-image: url("https://www.hands-on.co.th/wp-content/uploads/2020/05/banner1200x630_02.jpg");
  }
  .swiper-slide::after {
	content:"";
	background-image: inherit;
	background-position: bottom;
	background-size: cover;
	transform:  scaleY(-1);
	width: inherit;
	height:40%;
	position: absolute;
	bottom: -100%;
	opacity: 0;
  }
  .swiper-slide::before {
	z-index: 1;
	content:"";
	width: inherit;
	height:42%;
	position: absolute;
	bottom: -42%;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), #fff);
  
  }

  .section4{
	float:left;
	width: 100%;
	
   }
.footerban{
	color: #343a41;
}
.footer{
	background-color: #24262b;
	width: 100%;
    padding: 70px 0;
}
.footer-col{
	color: azure;
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}


