body{
	line-height: 1.5;
	margin:0;
	font-family: 'Mitr', sans-serif;
	background-color: #343a41;
	min-height: 100vh;
    width: auto;
}

*{
	list-style: none;
  outline: none;
  font-family: 'Mitr', sans-serif;
	margin:0;
	padding:0;
	box-sizing: border-box;
  text-decoration: none;
}
body, html{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

.container{
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 100px 0;
	background-color: #ffffff; 
}
.containerfooter{
	max-width: 70%;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
h1{
	font-size:30px;
	margin:0;
}
.clear{
	clear: both;
}


nav{
 float:left;
 color: #fff;
 background-color: #343a41;
 text-align: center;
 width: 100%;
 padding:0px ;
 margin-bottom:0px;
}

.nav-links{
    flex: 1;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-flex;
    padding: 20px 15px;
    position: relative;
}
.nav-links ul li a{
    color: rgb(255, 255, 255);
    font-size: 22.5px;
}




.section2{
 float:left;
 width: 100%;
 color: rgb(0, 0, 0);
 background-color:#ffffff; 
 padding:50px 0px;
 margin-bottom:20px;
}
.section2-if{
	text-align: center;
}
.section2-if2{
  font-size: 20px;
}
.wraper{
  
  width: 100%;
  height: 330px;
  background: #000;
  display: flex;
  
}

.div-1{
  width: calc( 50% - 100px) ;
  height: 100%;
  background: #ff005b;
  padding: 2% 5%;
  line-height: 1.5em;
  text-align: justify;
  font-size: 65px;
  color: white;

}

.div-2{
  width: calc( 60% + 100px );
  height: 100%;
  background: #262627;
  border-left: 120px solid #ff005b;
  border-bottom: 330px solid transparent;

  
}

.content{
  color: white;
  font-size: 19px;
  padding: 15px;
  
}

.wraper2{
  width: 100%;
  height: 330px;
  background: #000;
  display: flex;
}

.div-12{
  width: calc( 60% + 80px );
  height: 100%;
  background: #1b1c1d;
  border-right: 120px solid #ff005b;
  border-bottom: 330px solid transparent;
  box-sizing: border-box;
}

.div-22{
  width: calc( 50% - 80px) ;
  height: 100%;
  background: #ff005b;
  font-size: 65px;
  color: white;

}

.content2{
  color: white;
  font-size: 19px;
  padding: 60px;
}


.section3{
	float:left;
	width: 100%;
	color: rgb(0, 0, 0);
	background-color:#ffffff; 
	text-align: center;
	padding:50px 10px;
	margin-bottom:20px;
   }
   .swiper-container {
    width: 100%;
    height: 500px;
    transition: opacity .6s ease;
    }
    .swiper-container.swiper-container-coverflow {
    padding-top: 2%;
    }
    .swiper-slide {
    background-size: cover;
    height: 42vh !important;
    box-shadow: 1px 3px 3px rgba(0,0,0,0.2);
    }
    .swiper-slide .content {
    position: absolute;
    top: 40%;
    left: 0;
    width: 40%;
    padding-left: 5%;
    color: #fff;
    }
    .swiper-slide .content .title {
    font-size: 2.6em;
    font-weight: bold;
    margin-bottom: 30px;
    }
    .swiper-slide .content .caption {
    display: block;
    font-size: 1px;
    line-height: 1.4;
    }
    
    .slide1 {
    background-image: url("https://campus.campus-star.com/app/uploads/2019/01/point-exam.jpg");
    }
    .slide2 {
    background-image: url("https://static.siuk-thailand.com/assets/images/th-siuk-5-courses-for-studying-1200x628.jpg");
    }
    .slide3 {
    background-image: url("https://www.ignitebyondemand.com/wp-content/uploads/2020/04/%E0%B9%80%E0%B8%95%E0%B8%A3%E0%B8%B5%E0%B8%A2%E0%B8%A1%E0%B8%95%E0%B8%B1%E0%B8%A7%E0%B8%AA%E0%B8%AD%E0%B8%9A%E0%B9%80%E0%B8%82%E0%B9%89%E0%B8%B2-BBA-EBA-BE-Thumbnail.jpg");
    }
    .swiper-slide::after {
    content:"";
    background-image: inherit;
    background-position: bottom;
    background-size: cover;
    transform:  scaleY(-1);
    width: inherit;
    height:40%;
    position: absolute;
    bottom: -100%;
    opacity: 0;
    }
    .swiper-slide::before {
    z-index: 1;
    content:"";
    width: inherit;
    height:42%;
    position: absolute;
    bottom: -42%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), #fff);
    
    }
  .section4{
	float:left;
	width: 100%;
	
   }
.footerban{
	color: #343a41;
}
.footer{
	background-color: #24262b;
	width: 100%;
    padding: 70px 0;
}
.footer-col{
	color: azure;
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}


