body{
	line-height: 1.5;
	margin:0;
  font-family: 'Mitr', sans-serif;
	background-color: #343a41;
	min-height: 100vh;
    width: auto;
}

*{
	list-style: none;
    outline: none;
    font-family: 'Mitr', sans-serif;
	margin:0;
	padding:0;
	box-sizing: border-box;
  text-decoration: none;
}
body, html{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

.container{
	max-width: 2000px;
	color: rgb(255, 255, 255);
	height:auto;
	margin:0px auto;
	padding:60px;
}
.containerfooter{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
h1{
	font-size:30px;
	margin:0;
}
.clear{
	clear: both;
}

.logo{
margin:0;
padding: 0rem;

}

nav{
 float:left;
 color: #fff;
 background-color: #343a41;
 text-align: center;
 width: 100%;
 padding:0px ;
 margin-bottom:0px;
}

.nav-links{
    flex: 1;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-flex;
    padding: 20px 15px;
    position: relative;
}
.nav-links ul li a{
    color: rgb(255, 255, 255);
    font-size: 22.5px;
}


.section1{
 float:left;
 width: 100%;
 text-align: center;
 padding:0px 0px;
 margin-bottom:15px;
 
}
.container .box{
  position: relative;
  display: inline-block;
  margin: 10px;
  width: calc((100% / 3) - 25px );  height: 250px;
  background: #262626;
  overflow: hidden;
}
.container .box img{
  position: relative;
  width: 100%;  height: 100%;
  transition: 5s;
}
.container .box:hover img{
  transform: scale(2);
}


.container .box::before,.container .box::after{
  content: '';
  position: absolute;
  top: 10px;left: 10px;right: 10px;bottom: 10px;
  transition: 1s;
  z-index: 2;
}
.container .box::before{
  transform: scale(1,0); 
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.container .box::after{
  transform: scale(0,1);
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.container .box:hover::before,.container .box:hover::after{
  transform: scale(1,1);
}


.container .box .content{
  position: absolute;
  top: 0;  left: 0;
  width: 100%;  height: 100%;
  background: rgba(0,0,0,0);
  display: flex;
  justify-content: center;   align-items: center;
  transition: 1s;

}
.container .box:hover .content{
  background: rgba(0,0,0,.7);
}
.container .box .content .wrap{
  box-sizing: border-box;
  padding: 20px;
  color: #fff;
  z-index: 3;
}
.container .box .content .wrap h1{
  position: relative;
  font-size: 20px;
  margin-bottom: 10px;
  transform: translateY(-80px);
  opacity: 0;
  transition: 1s;
}
.container .box:hover .content .wrap h1{
  transform: translateY(0);
  opacity: 1;
}
.container .box .content .wrap p{
  position: relative;
  font-size: 15px;
  transform: translateY(170px);
  opacity: 0;
  transition: .5s;
}
.container .box:hover .content .wrap p{
  transform: translateY(0px);
  opacity: 1;
}

button {
    padding: 15px 50px;
	color: rgb(255, 255, 255);
    font-size: 2.0rem;
    cursor: pointer;
    border: 0px;
    background: transparent;
    position: relative;
    margin: 10px;
    transition: all .25s ease;
}

.btn-3:hover::after {
    width: 100%;
}

.btn-3::after {
    content: '';
    position: absolute;
    border-radius: inherit;
    width: 10%;
    height: 5px;
    background: #e91e63;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    transition: all .25s ease;
    left: 50%;
    transform: translate(-50%);
	
}

.section2{
 float:left;
 width: 100%;
 color: rgb(0, 0, 0);
 background-color:#f5f5f5; 
 text-align: center;
 margin-bottom:20px;
}
.section2 .content{
float: left;
width: 100%;
margin-top:10px;
}

.section2 .content .left{
	width: 100%;
	float: left;
	padding: 0px 150px;

}

.section2 .content .right{
	width: 100%;
	float: left;
	padding: 0px 150px;
}
.section2 .content .right .card1{
	padding:60px 5px;
	font-size:30px;
	color:#fff;
	background: linear-gradient(225deg, #0CCDA3 30%, #C1FCD3 100%);
	margin-bottom:20px;
	transition: 0.5s;
	border-radius: 20px;
	background-color: #666666;
	background-image: url('https://www.chula.ac.th/wp-content/uploads/2021/09/20210908_cover2121_hotnews-720x377.jpg');
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
}
.section2 .content .right .card1:hover
{
	transform: translate(-50px);
}
.section2 .content .left .card1{
	padding:60px 5px;
	font-size:30px;
	color:#fff;
	background: linear-gradient(225deg, #0CCDA3 30%, #C1FCD3 100%);
	margin-bottom:20px;
	transition: 0.5s;
	border-radius: 20px;
	background-color: #666666;
	background-image: url('https://www.chula.ac.th/wp-content/uploads/2021/09/20210906_cover2236_clipping-720x377.jpg');
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
}
.section2 .content .left .card1:hover
{
	transform: translate(-50px);
}

.section2 .content .right .card2{
	padding:60px 5px;
	font-size:30px;
	color:#fff;
	background: linear-gradient(225deg, #e7648e 30%, #FCCE42 100%);
	margin-bottom:20px;
	transition: 0.5s;
	border-radius: 20px;
	background-color: #666666;
	background-image: url('https://www.chula.ac.th/wp-content/uploads/2021/09/20210904_cover2254_clipping.jpg');
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
}
.section2 .content .right .card2:hover
{
	transform: translate(-50px);
}
.section2 .content .left .card2{
	padding:60px 5px;
	font-size:30px;
	color:#fff;
	background: linear-gradient(225deg, #e7648e 30%, #FCCE42 100%);
	margin-bottom:20px;
	transition: 0.5s;
	border-radius: 20px;
	background-color: #666666;
	background-image: url('https://www.chula.ac.th/wp-content/uploads/2021/09/20210908_cover1209_hotnews.jpg');
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
}
.section2 .content .left .card2:hover
{
	transform: translate(-50px);
}

.flexboximg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    margin: 0px -10px;
    margin-left: 300px;
    margin-right: 300px;
    
  }
  
  .itemimg {
    box-sizing: border-box;
    width: 33.33%;
    margin-bottom: 20px;
    padding: 0px 10px;
  }
  
  .contentimg {
    color: #242424;
    background-color: #1bbefe;
    font-weight: 600;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    padding: 100px;
  }
  .swiper-container {
    width: 100%;
    height: 500px;
    transition: opacity .6s ease;
    }
    .swiper-container.swiper-container-coverflow {
    padding-top: 2%;
    }
    .swiper-slide {
    background-size: cover;
    height: 42vh !important;
    box-shadow: 1px 3px 3px rgba(0,0,0,0.2);
    }
    .swiper-slide .content {
    position: absolute;
    top: 40%;
    left: 0;
    width: 40%;
    padding-left: 5%;
    color: #fff;
    }
    .swiper-slide .content .title {
    font-size: 2.6em;
    font-weight: bold;
    margin-bottom: 30px;
    }
    .swiper-slide .content .caption {
    display: block;
    font-size: 1px;
    line-height: 1.4;
    }
    
    .slide1 {
    background-image: url("https://one-educationgroup.com/wp-content/uploads/2021/07/things-to-know-about-scholarship-TH.jpg");
    }
    .slide2 {
    background-image: url("https://www.learneducation.co.th/wp-content/uploads/2020/08/%E0%B8%97%E0%B8%B8%E0%B8%99%E0%B9%80%E0%B8%9B%E0%B8%A5%E0%B8%B5%E0%B9%88%E0%B8%A2%E0%B8%99%E0%B8%8A%E0%B8%B5%E0%B8%A7%E0%B8%B4%E0%B8%95-1024x683.jpeg");
    }
    .slide3 {
    background-image: url("https://www.tcijthai.com/office-tcij/headpicture/a3ac26605b8675ca2c275ec9d3a54a02.jpg");
    }
    .swiper-slide::after {
    content:"";
    background-image: inherit;
    background-position: bottom;
    background-size: cover;
    transform:  scaleY(-1);
    width: inherit;
    height:40%;
    position: absolute;
    bottom: -100%;
    opacity: 0;
    }
    .swiper-slide::before {
    z-index: 1;
    content:"";
    width: inherit;
    height:42%;
    position: absolute;
    bottom: -42%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), #fff);
    
    }
  

.flexbox {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-end;
    margin-left: -10px;
    margin-right: -10px;
    padding:0px 30px;
	font-size:15px;
	color:rgb(0, 0, 0);
    width: 50%;
	transition: 0.5s;
  }

  .item {
    display: block;
    box-sizing: border-box;
    width: 450px;
    padding: 0px 0px;
   
  }
  
  .itemtext {
    display: block;
    box-sizing: border-box;
    width: 700px;
    padding: 0px 0px;
   
  }
  .contentx {
    border: 16px;
    padding: 50px 20px;
  }
  .content1 {
    
    border: 16px;
    padding: 100px;
  }
    .content2 {
    
    border: 16px;
    padding: 100px;
  }
  .content3 {
    
    border: 16px;
    padding: 100px;
  }
    .content4 {
    
    border: 16px;
    padding: 100px;
  }

.flexbox:hover
{
	transform: translate(-50px);
}

.section3{
	float:left;
	width: 100%;
	color: rgb(0, 0, 0);
	background-color:#ffffff; 
	text-align: center;
	padding:50px 10px;
	margin-bottom:20px;
   }

  .section4{
    float:left;
    width: 100%;
    
     }
.footerban{
	color: #343a41;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
	color: azure;
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}



