body{
	line-height: 1.5;
	margin:0;
  font-family: 'Mitr', sans-serif;
	background-color: #343a41;
	min-height: 100vh;
    width: auto;
}

*{
	list-style: none;
  outline: none;
  font-family: 'Mitr', sans-serif;
	margin:0;
	padding:0;
	box-sizing: border-box;
  text-decoration: none;
}
body, html{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

.container{
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 100px 0;
	background-color: #ffffff; 
}
.containerfooter{
	max-width: 70%;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
h1{
	font-size:30px;
	margin:0;
}
.clear{
	clear: both;
}


nav{
 float:left;
 color: #fff;
 background-color: #343a41;
 text-align: center;
 width: 100%;
 padding:0px ;
 margin-bottom:0px;
}

.nav-links{
    flex: 1;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-flex;
    padding: 20px 15px;
    position: relative;
}
.nav-links ul li a{
    color: rgb(255, 255, 255);
    font-size: 22.5px;
}




.section2{
 float:left;
 width: 100%;
 color: rgb(0, 0, 0);
 background-color:#ffffff; 
 padding:50px 0px;
 margin-bottom:20px;
}
img {
  width: 100%;
  vertical-align: middle;

}

.blog-item img {
display: block;
}

.blog-item a {
  display: flex;
  padding: 0px;
  overflow: hidden;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  color: #333;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  border-radius: 6px;
  margin-bottom: 50px;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.blog-item a:hover {
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.blog-item .icon {
  width: 35%;
  object-fit: cover;
  margin-right: 50px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 15px 26px rgba(0, 0, 0, 0.4);
}

.blog-item .content {
  width: 65%;
}

.blog-item .content .title {
  font-size: 21px;
  text-transform: capitalize;
  color: #25aae1;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
}



.blog-item .content .title .blog-date {
  font-size: 12px;
  margin-left: 20px;
  color: #333;
  font-family: 'Lato', sans-serif;
}

.blog-item .content .title .blog-date:before {
  content: '/';
  color: #2bb673;
  font-size: 25px;
  top: auto;
  position: relative;
  margin-right: 10px;
}

.blog-item .content .rounded {
  margin-left: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.blog-item .item-arrow {
  height: 20px;
  width: 15%;
  position: relative;
  text-align: center;
  font-size: 35px;
  left: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.blog-item a:hover > .item-arrow {
  /*padding-left: 40px;*/
  color: #25aae1;
  left: 30px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.rounded {
  width: 70px;
  height: 5px;
  border-radius: 6px;
  background-image: linear-gradient(to right, #25aae1, #40e495);
  /* background: #2bb769; */
  margin-left: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}




.section3{
	float:left;
	width: 100%;
	color: rgb(0, 0, 0);
	background-color:#ffffff; 
	text-align: center;
	padding:50px 10px;
	margin-bottom:20px;
   }
   .swiper-container {
    width: 100%;
    height: 500px;
    transition: opacity .6s ease;
    }
    .swiper-container.swiper-container-coverflow {
    padding-top: 2%;
    }
    .swiper-slide {
    background-size: cover;
    height: 42vh !important;
    box-shadow: 1px 3px 3px rgba(0,0,0,0.2);
    }
    .swiper-slide .content {
    position: absolute;
    top: 40%;
    left: 0;
    width: 40%;
    padding-left: 5%;
    color: #fff;
    }
    .swiper-slide .content .title {
    font-size: 2.6em;
    font-weight: bold;
    margin-bottom: 30px;
    }
    .swiper-slide .content .caption {
    display: block;
    font-size: 1px;
    line-height: 1.4;
    }
    
    .slide1 {
    background-image: url("https://faithandbacon.com/wp-content/uploads/2019/12/%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B9%80%E0%B8%A3%E0%B8%B5%E0%B8%A2%E0%B8%99%E0%B8%A3%E0%B8%B9%E0%B9%89%E0%B8%94%E0%B9%89%E0%B8%A7%E0%B8%A2%E0%B8%95%E0%B8%B1%E0%B8%A7%E0%B9%80%E0%B8%AD%E0%B8%87-min-1024x576.jpg");
    }
    .slide2 {
    background-image: url("https://images2.content-hci.com/commimg/myhotcourses/blog/post/myhc_84481.jpg");
    }
    .slide3 {
    background-image: url("https://images4.content-hci.com/commimg/myhotcourses/blog-inline/myhc_51532.jpg");
    }
    .swiper-slide::after {
    content:"";
    background-image: inherit;
    background-position: bottom;
    background-size: cover;
    transform:  scaleY(-1);
    width: inherit;
    height:40%;
    position: absolute;
    bottom: -100%;
    opacity: 0;
    }
    .swiper-slide::before {
    z-index: 1;
    content:"";
    width: inherit;
    height:42%;
    position: absolute;
    bottom: -42%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), #fff);
    
    }
  .section4{
	float:left;
	width: 100%;
	
   }
.footerban{
	color: #343a41;
}
.footer{
	background-color: #24262b;
	width: 100%;
    padding: 70px 0;
}
.footer-col{
	color: azure;
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}


