body{
	line-height: 1.5;
	margin:0;
	font-family: 'Mitr', sans-serif;
	background-color: #343a41;
	min-height: 100vh;
    width: auto;
}

*{
	list-style: none;
    outline: none;
	font-family: 'Mitr', sans-serif;
	margin:0;
	padding:0;
	box-sizing: border-box;
	text-decoration: none;
}
body, html{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

.container{
	max-width: 2000px;
	color: rgb(255, 255, 255);
	height:auto;
	margin:0px auto;
	padding:0px;
}
.containerfooter{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
h1{
	font-size:30px;
	margin:0;
}
.clear{
	clear: both;
}

.logo{
margin:0;
padding: 0rem;
width: 100%;
height: 50px;
background: linear-gradient(225deg, #e7648e 30%, #FCCE42 100%);
background-position: center;
background-size: cover;
background-repeat: no-repeat;

}

nav{
 float:left;
 color: #fff;
 background-color: #343a41;
 text-align: center;
 padding:0px ;
 width: 100%;
 margin-bottom:0px;
}

.nav-links{
    flex: 1;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-flex;
    padding: 20px 15px;
    position: relative;
}
.nav-links ul li a{
    color: rgb(255, 255, 255);
    font-size: 22.5px;
}


.section1{
 float:left;
 width: 100%;
 text-align: center;
 padding:0px 0px;
 margin-bottom:15px;
 
}

button {
    padding: 15px 50px;
	color: rgb(255, 255, 255);
    font-size: 2.0rem;
    cursor: pointer;
    border: 0px;
    background: transparent;
    position: relative;
    margin: 10px;
    transition: all .25s ease;
}

.btn-3:hover::after {
    width: 100%;
}

.btn-3::after {
    content: '';
    position: absolute;
    border-radius: inherit;
    width: 10%;
    height: 5px;
    background: #e91e63;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    transition: all .25s ease;
    left: 50%;
    transform: translate(-50%);
	
}

.containerpage
{
   display: flex;
   width: 80%;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}
.containerpage .card
{
   width: 330px;
   height: 490px;
   padding: 60px 30px;
   margin: 20px;
   background: #f2f3f7;
   box-shadow: 0.6em 0.6em 1.2em #d2dce9,
               -0.5em -0.5em 1em #ffffff;
   border-radius: 20px;
}
.containerpage .card .content
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.containerpage .card .content .imgBx
{
   width: 180px;
   height: 180px;
   border-radius: 50%;
   position: relative;
   margin-bottom: 20px;
   overflow: hidden;
}
.containerpage .card .content .imgBx img
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.containerpage .card .content .contentBx h4
{
   color: #36187d;
   font-size: 1.7rem;
   font-weight: bold;
   text-align: center;
   letter-spacing: 1px;
}
.containerpage .card .content .contentBx h5
{
   color: #6c758f;
   font-size: 1.7rem;
   font-weight: bold;
   text-align: center;
}
.containerpage .card .content .sci
{
   margin-top: 20px;
}
.containerpage .card .content .sci a
{
   text-decoration: none;
   color: #6c758f;
   font-size: 30px;
   margin: 10px;
   transition: color 0.4s;
}
.containerpage .card .content .sci a:hover
{
   color: #0196e3;
}


.section2{
 float:left;
 width: 100%;
 color: rgb(0, 0, 0);
 background-color:#ffffff; 
 text-align: center;
 padding:50px 10px;
 margin-bottom:20px;
}
.section2 .content{
float: left;
width: 100%;
margin-top:60px;
}

.section3{
	float:left;
	width: 100%;
	color: rgb(0, 0, 0);
	background-color:#ffffff; 
	text-align: center;
	padding:50px 10px;
	margin-bottom:20px;
   }

   .swiper-container {
	width: 100%;
	height: 500px;
	transition: opacity .6s ease;
  }
  .swiper-container.swiper-container-coverflow {
	padding-top: 2%;
  }
  .swiper-slide {
	background-size: cover;
	height: 42vh !important;
	box-shadow: 1px 3px 3px rgba(0,0,0,0.2);
  }
  .swiper-slide .content {
	position: absolute;
	top: 40%;
	left: 0;
	width: 40%;
	padding-left: 5%;
	color: #fff;
  }
  .swiper-slide .content .title {
	font-size: 2.6em;
	font-weight: bold;
	margin-bottom: 30px;
  }
  .swiper-slide .content .caption {
	display: block;
	font-size: 1px;
	line-height: 1.4;
  }
  
  .slide1 {
	background-image: url("https://sls-prod.api-onscene.com/partner_files/trueidintrend/122314/EP5.jpg");
  }
  .slide2 {
	background-image: url("https://www.ignitebyondemand.com/wp-content/uploads/2020/06/%E0%B9%80%E0%B8%9B%E0%B8%B4%E0%B8%94%E0%B9%80%E0%B8%9C%E0%B8%A2%E0%B8%97%E0%B8%B8%E0%B8%81%E0%B9%80%E0%B8%84%E0%B8%A5%E0%B9%87%E0%B8%94%E0%B8%A5%E0%B8%B1%E0%B8%9A%E0%B8%AA%E0%B8%AD%E0%B8%9A%E0%B8%95%E0%B8%B4%E0%B8%94-ISE-CU-%E0%B8%A0%E0%B8%B2%E0%B8%84-ICE-%E0%B8%99%E0%B9%89%E0%B8%AD%E0%B8%87%E0%B9%81%E0%B8%9E%E0%B8%99-%E0%B9%82%E0%B8%A3%E0%B8%87%E0%B9%80%E0%B8%A3%E0%B8%B5%E0%B8%A2%E0%B8%99%E0%B9%82%E0%B8%A2%E0%B8%98%E0%B8%B4%E0%B8%99%E0%B8%9A%E0%B8%B9%E0%B8%A3%E0%B8%93%E0%B8%B0-Thumbnail.jpg");
  }
  .slide3 {
	background-image: url("https://www.ignitebyondemand.com/wp-content/uploads/2019/11/Timeline-Prepare-ISE-Chula-Admission-Bigcover1.jpg");
  }
  .swiper-slide::after {
	content:"";
	background-image: inherit;
	background-position: bottom;
	background-size: cover;
	transform:  scaleY(-1);
	width: inherit;
	height:40%;
	position: absolute;
	bottom: -100%;
	opacity: 0;
  }
  .swiper-slide::before {
	z-index: 1;
	content:"";
	width: inherit;
	height:42%;
	position: absolute;
	bottom: -42%;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), #fff);
  
  }

  .section4{
	float:left;
	width: 100%;
	
   }

.footerban{
	color: #343a41;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
	color: azure;
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}



